@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rowClassName {
  background-color: red !important;
}

.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #3d9e47 !important;
  border-color: #3d9e47 !important;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-checkbox-wrapper:not(
    .ant-checkbox-wrapper-disabled
  ):hover {
  border-color: #3d9e47 !important;
}
